<section class="table-section">
    <button id="get-button">Get movie List</button>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

            <tr class="table-row" *ngFor="let movie of movieList | async">
              <td>{{ movie.id }}</td>
              <td>{{ movie.title }}</td>
              <td>{{ movie.year }}</td>
              <td>{{ movie.category }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-info">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button (click)="deleteMovie(movie)" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>

    </table>
</section>
